<!-- new.erb -->

<form action="/record/new" metho="POST">
  <label>Record Title</label>
  <br>
  <textarea id="text" name="text"></textarea>
  <br>
  <input id = "submit" type="submit" value="save record">
</form>

