<!-- login.erb -->

<div> 
	<h2> Please enter your information to access the system</h2>
  <form input="/login" method="POST">
    name: <br>
    <input type="text" name="doctor[name]">
    <p>
    password: 
    <br>
    <input type="password" name="doctor[password]">
    <p>
    <input type="submit" name="submit">
  </form>
</div>