<!-- signup.erb -->
<div>
  <h2>Here is where you can sign up as a doctor</h2>
  <h3> </h3>
  <form input="/singup" method="POST">
    <p>
    Name: 
    <br>
    <input type="text" name="doctor[name]">
    <p>
    Password: 
    <br>
    <input type="password" name="doctor[password]">
    <p>
    <input type="submit" name="submit">
  </form>
</div>

